{% extends 'perkakas/base.html' %}
{% block content %}
	<h3 style="color: #0B60DD">{{ peralatan.nama_alat }}</h3><br>
	<b>Kategori :</b>
		{% if alat.kategori == 'wd' %} Wood Working 
			{% elif alat.kategori == 'el' %}Elektrik
			{% else %} Metal Working
		{% endif %}<br>
	<b>Harga :</b> Rp. {{ peralatan.harga }}<br>
	<b>Keterangan : </b>{{ peralatan.keterangan }}<br>
	<b>Berat : </b>{{ peralatan.berat }} kg<br>
	<b>Jumlah Stok :</b> {{peralatan.jumlah }}
	<a href="{% url 'alat_edit' peralatan.id %}">Edit Alat</a>
	<a href="{% url 'alat_delete' peralatan.id %}">Hapus Alat</a>
{% endblock %}