{% extends 'perkakas/base.html' %}
{% block content %}
	<a type="button" class="btn btn-secondary"
		href="{% url 'home_page' %}">Kembali</a>
	<br><br>
	<h3>Tambah Data Peralatan</h3><br>
	<form action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<br>
		<button type="submit" class="btn btn-success">Simpan</button>
	</form>
{% endblock %}