{% extends 'perkakas/base.html' %}
{% block content %}
	<a type="button" class="btn btn-primary"
		href="{% url 'alat_add' %}">(+) Tambah Peralatan</a>
	<a type="button" class="btn btn-primary"
		href="{% url 'alat_to_pdf' %}">(+) Print PDF</a>
	<br><br>
	{% for alat in peralatan %}
		<h5><a href="{% url 'alat_detail_view' alat.id %}">{{ alat.nama_alat }}</a></h5>
		<strong>Kategori :</strong>
		{% if alat.kategori == 'wd' %}
			Wood Working
			{% elif alat.kategori == 'el' %}
				Eletrik
				{% else %}
					Metal Working
		{% endif %}
		<p></p>
	{% endfor %}		
{% endblock %}